---
import { getCollection, getEntry } from 'astro:content';
import '../styles/global.css';
---
<!doctype html>
<html lang="fr">
  <head><meta charset="utf-8" /><title>Librairie Escalire</title></head>
  <body><h1>Escalire</h1></body>
</html>
